/* Custom css for acoidea */

body {
  padding-top: 50px;
  font-family: 'Roboto', sans-serif;
}

/* Navbar, Brand and main menu */
.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
}

.navbar-default {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    text-transform: uppercase;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #008EC0;
    background-color: #FFFFFF;

}

/* Carousel */

.carousel-control.right {
    right: 0;
    left: auto;
    background-image: none;
    background-image: none;
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);*/
    background-repeat: no-repeat;
}

.carousel-control.left {
    left: 0;
    left: auto;
    background-image: none;
    background-image: none;
    background-repeat: no-repeat;
}

/* Font customizaton */

h1, h2, h3, h4{
  font-weight: 300;
  color: #333333;
}

h1{
  font-size: 30px;
}

p{
  font-size: 17px;
  font-weight: 300;
  color: #333333;
}

strong {
    font-weight: 400;
    font-size: 15px;
}

label {
    font-weight: 300;
}
/* Page into */

.pageintro{
  padding-top: 30px;
  font-weight: 500;
}
