/* Custom css for acoidea */

body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  -webkit-border-radius: 2px !important;
     -moz-border-radius: 2px !important;
          border-radius: 2px !important;
}

.container{
  max-width: 1100px;
}
/* Navbar, Brand and main menu */
.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
}

.navbar-default .navbar-brand {
    color: #000;
}
.navbar-default {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    text-transform: uppercase;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #008EC0;
    background-color: #FFFFFF;

}

.navbar-default .navbar-nav>li>a {
    color: #000;
}

/* Breadcrumb */

.breadcrumb {
    padding: 50px 0px;
    margin-top: 30px;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    color: #FFF;
}


.breadcrumb>.active {
    color: #231F20;
}

.custom{
  color: #FFF;
}
.well {
    min-height: 20px;
    padding: 0px;
    margin-bottom: 0px;
    background-color: #F2F2F2;
    border: 0px solid #e3e3e3;
    border-radius: 0px;
    color: #FFF;
}
/* Carousel */

.carousel-control.right {
    right: 0;
    left: auto;
    background-image: none;
    background-image: none;
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);*/
    background-repeat: no-repeat;
}

.carousel-control.left {
    left: 0;
    left: auto;
    background-image: none;
    background-image: none;
    background-repeat: no-repeat;
}

.carousel-caption {
    padding-bottom: 80px;
    color: #FFF;
}
/* Font customizaton */

h2, h3, h4{
  font-weight: 300;
  color: #333333;
}

h1{
  font-size: 29px;
  color: #FFF;
  font-weight: 300;
  text-transform: uppercase;
}

p{
  font-size: 17px;
  font-weight: 300;
  color: #333333;
}

a{
  color: #939393;
}

a:hover{
  color: #007EE5;
  text-decoration: none;
}
strong {
    font-weight: 400;
    font-size: 15px;
}

label {
    font-weight: 300;
}


.carousel-intro {
  color: #FFF;
}


/* Buttons */

.btn-danger {
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    border-width: 2px;
    border-radius: 2px;
    font-weight: 300;
}

.btn-danger:hover {
    color: #FFF;
    background-color: #007EE5;
    border-color: #FFF;
    border-width: 2px;
    border-radius: 0px;
    font-weight: 300;
}
/* Page into */

.pageintro{
  padding-top: 20px;
  font-weight: 500;
}

.page-header {
    padding-bottom: 9px;
    margin: 78px 0 20px;
    border-bottom: 1px solid #eee;
}

.paddingtopbottom{
  padding-top: 10px;
  padding-bottom: 10px;
}
/* Listing */

.list-inline{
  padding-top: 5px;
  padding-bottom: 5px;
  text-transform: uppercase;
}

ul{
  font-size: 17px;
  font-weight: 300;
}

/*  Custom footer */

.footercustom{
    padding-top: 100px;
}

.footer {
  background-color: #EDEFF1;
  color: #333333;
  padding-top: 10px;
}

.copyright{
  font-size: 14px;
  color: #939393;
  font-weight: 300;
}


/* Social media */

/* footer social icons */
.list-inline {
    padding-left: 0;
    margin-left: 0px;
  }
