{% extends "base.html" %}
{% load wagtailcore_tags %}


{% block heading %}
  <div class="page-header">

    <div class="pull-right">
      {% for tag in self.tags.all %}
        <a href="{% pageurl self.blog_index %}?tag={{ tag }}"
           class="btn btn-primary btn-xs">
          <i class="glyphicon glyphicon-tag"></i> {{ tag }}
        </a>
      {% endfor %}
    </div>

    <h2>
      {{ self.title }}
      {% if self.date %}<small>{{ self.date }}</small>{% endif %}
    </h2>

  </div>
{% endblock %}

{% block content %}

<div class="col-md-10 col-md-offset-1">
{% include "home/includes/intro.html" with intro=self.intro only %}

    {% include "home/includes/carousel.html" with carousel_items=self.carousel_items.all only %}

    {% if self.body %}
        <div class="body-content">
            {% include "home/includes/streamfield.html" with content=self.body %}
        </div>
        </div>
    {% endif %}


{% endblock %}
