{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block content %}
    {% include "home/includes/intro.html" with intro=self.intro only %}
    
    {# {% include "home/includes/carousel.html" with carousel_items=self.carousel_items.all only %} #}

  {% if self.body %}
      <div class="body-content">
          {#{{ self.body|richtext }} #}
          {% include "home/includes/streamfield.html" with content=self.body %}
      </div>
  {% endif %}


  {#{% include "home/includes/related_links.html" with related_links=self.related_links.all only %} #}
{% endblock %}
