{% load home_tags static wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta name="description" content="{% if self.search_description %}{{ self.search_description }}{% endif %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://{{ request.site.hostname }}{{ self.url }}" />
        <meta property="og:title" content="{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}" />
        <meta property="og:description" content="{% if self.search_description %}{{ self.search_description }}{% endif %}" />

        <link rel="shortcut icon" href="{% static "media/images/favicon.ico" %}" />

        {# Global stylesheets #}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,900,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{% static 'css/acoidea.css' %}">

        {% block extra_css %}

        {% endblock %}

        {# Javascript that needs to be called from head e.g. google analytics snippet and bootstrap shivs #}
        <script type="text/javascript">
              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-xxxxxxx-x']);
              _gaq.push(['_trackPageview']);

              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();
        </script>
       
    </head>

    <body class="{% block body_class %}{% endblock %}">

        {% wagtailuserbar %}

        {#{% include "top_menu.html" %}#}

        {% block menu %}
          {% get_site_root as site_root %}
          {% top_menu parent=site_root calling_page=self %}
        {% endblock %}

        {# Body content #}
        {% breadcrumbs %}
        <div class="container">

            {% block content %}{% endblock %}
            </div>


        {# Footer content #}
        {% include "footer.html" %}

        {# Global javascript #}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{% static 'js/acoidea.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

    </body>
</html>
