{% load wagtailimages_tags wagtailcore_tags %}

{% image self.back_image width-2000 as back_photo %}


<style>

  .parallax{{ id_prefix }} {
   height: 50vh;
   background-size:{{ self.background_size }};
   background-repeat:no-repeat;
   background-position: {{ self.background_x_position }} {{ self.background_y_position }};
}

</style>
<div class="parallax{{ id_prefix }}" style="background-image: url({{ back_photo.url }});">

 <div style="text-align:{{ self.text_align }};padding:50px;">
<div class="col-md-8 col-md-offset-2">
 {% include "home/includes/page_blocks.html" with blocks=self.one_column only %}
</div>
 </div>

</div>
