{% if related_links %}
    <!-- <div class="page-header"></div> -->
    <div class="row">
        <div class="col-md-12">
            <!-- <div class="panel">
                <div class="panel-heading"> -->
                    <h4>RELATED POST AND ARTICLE</h4>
                <!-- </div> -->
                <!-- <div class="panel-body"> -->
                    <ul>
                    {% for related_link in related_links %}
                        <li class="list-inline"><span class="glyphicon glyphicon-arrow-right"></span> <a href="{{ related_link.link }}">{{ related_link.title }}</a></li>
                    {% endfor %}
                    </ul>
                <!-- </div>
            </div> -->
        </div>
    </div>
{% endif %}
